{
  "swagger": "2.0",
  "info": {
    "title": "Infonova API Swagger",
    "version": ""
  },
  "host": "host.com",
  "basePath": "/r6integration",
  "schemes": [
    "http"
  ],
  "paths": {
    "/event/allowanceCreated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/allowanceCreated",
        "description": "Emitted after a allowance has been created.",
        "operationId": "postEventAllowanceCreated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChargespecificationsV1DomainChargeSpecificationAllowanceEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/allowanceShareCreated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/allowanceShareCreated",
        "description": "Allowance share has been created.",
        "operationId": "postEventAllowanceShareCreated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChargeinventoryV1DomainAllowanceShareEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/allowanceShareStateUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/allowanceShareStateUpdated",
        "description": "Allowance share's state has been updated.",
        "operationId": "postEventAllowanceShareStateUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChargeinventoryV1DomainAllowanceShareEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/allowanceShareUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/allowanceShareUpdated",
        "description": "Allowance share has been changed.",
        "operationId": "postEventAllowanceShareUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChargeinventoryV1DomainAllowanceShareEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/allowanceThresholdActionCreated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/allowanceThresholdActionCreated",
        "description": "Emitted after a allowance threshold action has been created.",
        "operationId": "postEventAllowanceThresholdActionCreated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChargespecificationsV1DomainAllowanceThresholdActionEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/allowanceThresholdActionUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/allowanceThresholdActionUpdated",
        "description": "Emitted after a allowance threshold action has been updated.",
        "operationId": "postEventAllowanceThresholdActionUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChargespecificationsV1DomainAllowanceThresholdActionEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/allowanceThresholdTriggered": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/allowanceThresholdTriggered",
        "description": "Emitted after an allowance threshold has been triggered.",
        "operationId": "postEventAllowanceThresholdTriggered",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChargespecificationsV1DomainAllowanceThresholdTriggeredEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/allowanceUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/allowanceUpdated",
        "description": "Emitted after a allowance has been updated.",
        "operationId": "postEventAllowanceUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChargespecificationsV1DomainChargeSpecificationAllowanceEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/balanceCreated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/balanceCreated",
        "description": "Emitted after a balance has been created.",
        "operationId": "postEventBalanceCreated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BalanceV1DomainBalanceEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/balanceThresholdTriggered": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/balanceThresholdTriggered",
        "description": "Emitted after a balance threshold has been triggered.",
        "operationId": "postEventBalanceThresholdTriggered",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BalanceV1DomainBalanceThresholdTriggeredEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/balanceUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/balanceUpdated",
        "description": "Emitted after a balance has been updated.",
        "operationId": "postEventBalanceUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BalanceV1DomainBalanceEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/barringConfigurationCreated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/barringConfigurationCreated",
        "description": "Emitted after a barring configuration has been created.",
        "operationId": "postEventBarringConfigurationCreated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProductofferingV1DomainBarringConfigurationEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/barringConfigurationUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/barringConfigurationUpdated",
        "description": "Emitted after a barring configuration has been updated.",
        "operationId": "postEventBarringConfigurationUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProductofferingV1DomainBarringConfigurationEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/billTypeCreated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/billTypeCreated",
        "description": "Emitted after a bill type has been created.",
        "operationId": "postEventBillTypeCreated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChargespecificationsV1DomainBillTypeEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/billTypeGroupCreated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/billTypeGroupCreated",
        "description": "Emitted after a bill type group has been created.",
        "operationId": "postEventBillTypeGroupCreated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChargespecificationsV1DomainBillTypeGroupEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/billTypeGroupUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/billTypeGroupUpdated",
        "description": "Emitted after a bill type group has been updated.",
        "operationId": "postEventBillTypeGroupUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChargespecificationsV1DomainBillTypeGroupEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/billTypeUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/billTypeUpdated",
        "description": "Emitted after a bill type has been updated.",
        "operationId": "postEventBillTypeUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChargespecificationsV1DomainBillTypeEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/billingAccountCreated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/billingAccountCreated",
        "description": "Emitted after a new billing account has been created.",
        "operationId": "postEventBillingAccountCreated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BillingV1BillingaccountDomainBillingAccountEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/billingAccountPseudonymized": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/billingAccountPseudonymized",
        "description": "Emitted when a billing account is pseudonymized.",
        "operationId": "postEventBillingAccountPseudonymized",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GdprEventDomainBillingAccountPseudonymizedEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/billingAccountStateUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/billingAccountStateUpdated",
        "description": "Emitted after a billing account' state has been updated.",
        "operationId": "postEventBillingAccountStateUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BillingV1BillingaccountDomainBillingAccountEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/billingAccountTariffModelCreated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/billingAccountTariffModelCreated",
        "description": "Emitted after the billing account tariff model has been created.",
        "operationId": "postEventBillingAccountTariffModelCreated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProductofferingV1DomainProductOfferingTariffModelEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/billingAccountTariffModelUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/billingAccountTariffModelUpdated",
        "description": "Emitted after the billing account tariff model has been updated.",
        "operationId": "postEventBillingAccountTariffModelUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProductofferingV1DomainProductOfferingTariffModelEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/billingAccountUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/billingAccountUpdated",
        "description": "Emitted after a billing account has been updated.",
        "operationId": "postEventBillingAccountUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BillingV1BillingaccountDomainBillingAccountEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/billingEngineCreated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/billingEngineCreated",
        "description": "Emitted after a billing engine has been created.",
        "operationId": "postEventBillingEngineCreated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChargespecificationsV1DomainBillingEngineEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/billingEngineUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/billingEngineUpdated",
        "description": "Emitted after a billing engine has been updated.",
        "operationId": "postEventBillingEngineUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChargespecificationsV1DomainBillingEngineEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/billingTaskBillComplete": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/billingTaskBillComplete",
        "description": "Emitted when a billing task of type 'Bill' will complete. This is a blocking event that pauses the billing process and has to be successfully completed to continue billing.",
        "operationId": "postEventBillingTaskBillComplete",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BillingV1DomainBillingTaskEvent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Refer to the event documentation for details about the supported payload modifications.",
            "schema": {
              "$ref": "#/definitions/BillingV1DomainBillingTaskEvent"
            }
          },
          "201": {
            "description": "Created. Refer to the event documentation for details about the supported payload modifications.",
            "schema": {
              "$ref": "#/definitions/BillingV1DomainBillingTaskEvent"
            }
          },
          "202": {
            "description": "Accepted. Event will be processed asynchronously. Further event execution will be triggered manually after processing. Refer to the event documentation for further instructions.",
            "schema": {
              "$ref": "#/definitions/BillingV1DomainBillingTaskEvent"
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/billingTaskCreated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/billingTaskCreated",
        "description": "Emitted when a billing task has been created",
        "operationId": "postEventBillingTaskCreated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BillingV1DomainBillingTaskEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/billingTaskFinalizeComplete": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/billingTaskFinalizeComplete",
        "description": "Emitted before a billing task of type 'Finalize' will complete. This is a blocking event that pauses the finalization process and has to be successfully completed to continue finalization.",
        "operationId": "postEventBillingTaskFinalizeComplete",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BillingV1DomainBillingTaskEvent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Refer to the event documentation for details about the supported payload modifications.",
            "schema": {
              "$ref": "#/definitions/BillingV1DomainBillingTaskEvent"
            }
          },
          "201": {
            "description": "Created. Refer to the event documentation for details about the supported payload modifications.",
            "schema": {
              "$ref": "#/definitions/BillingV1DomainBillingTaskEvent"
            }
          },
          "202": {
            "description": "Accepted. Event will be processed asynchronously. Further event execution will be triggered manually after processing. Refer to the event documentation for further instructions.",
            "schema": {
              "$ref": "#/definitions/BillingV1DomainBillingTaskEvent"
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/billingTaskStateUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/billingTaskStateUpdated",
        "description": "Emitted when a billing task of type 'Bill', 'Resume', 'Finalize' or 'Discard' has completed.",
        "operationId": "postEventBillingTaskStateUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BillingV1DomainBillingTaskEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/bindingPeriodActionTriggered": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/bindingPeriodActionTriggered",
        "description": "Emitted when a binding period action is triggered.",
        "operationId": "postEventBindingPeriodActionTriggered",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BindingperiodinventoryV1DomainBindingPeriodEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/channelCreated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/channelCreated",
        "description": "Emitted after a channel has been created.",
        "operationId": "postEventChannelCreated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChannelV1DomainChannelEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/channelProductOfferingAssigned": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/channelProductOfferingAssigned",
        "description": "Emitted after a product offering has been assigned to a channel.",
        "operationId": "postEventChannelProductOfferingAssigned",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChannelV1DomainChannelProductOfferingAssignmentEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/channelProductOfferingUnassigned": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/channelProductOfferingUnassigned",
        "description": "Emitted after a product offering has been unassigned from a channel.",
        "operationId": "postEventChannelProductOfferingUnassigned",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChannelV1DomainChannelProductOfferingAssignmentEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/channelUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/channelUpdated",
        "description": "Emitted after a channel has been updated.",
        "operationId": "postEventChannelUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChannelV1DomainChannelEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/channelUserAssigned": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/channelUserAssigned",
        "description": "Emitted after a user has been assigned to a channel.",
        "operationId": "postEventChannelUserAssigned",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChannelV1DomainChannelUserAssignmentEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/channelUserUnassigned": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/channelUserUnassigned",
        "description": "Emitted after a user has been unassigned from a channel.",
        "operationId": "postEventChannelUserUnassigned",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChannelV1DomainChannelUserAssignmentEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/chargeSpecificationCreated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/chargeSpecificationCreated",
        "description": "Emitted after a charge specification has been created.",
        "operationId": "postEventChargeSpecificationCreated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChargespecificationsV1DomainChargeSpecificationEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/chargeSpecificationUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/chargeSpecificationUpdated",
        "description": "Emitted after a charge specification has been updated.",
        "operationId": "postEventChargeSpecificationUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChargespecificationsV1DomainChargeSpecificationEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/customerAccountCreated/v2": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/customerAccountCreated/v2",
        "description": "Emitted after a new customer account has been created.",
        "operationId": "postEventCustomerAccountCreatedV2",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomerV2DomainCustomerAccountEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/customerAccountNoteCreated/v2": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/customerAccountNoteCreated/v2",
        "description": "Emitted after an customer account note has been created",
        "operationId": "postEventCustomerAccountNoteCreatedV2",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomerV1DomainCustomerAccountNoteEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/customerAccountNoteDeleted/v2": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/customerAccountNoteDeleted/v2",
        "description": "Emitted after an customer account note has been deleted",
        "operationId": "postEventCustomerAccountNoteDeletedV2",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomerV1DomainCustomerAccountNoteEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/customerAccountNoteUpdated/v2": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/customerAccountNoteUpdated/v2",
        "description": "Emitted after an customer account note has been updated",
        "operationId": "postEventCustomerAccountNoteUpdatedV2",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomerV1DomainCustomerAccountNoteEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/customerAccountRelationshipCreated/v2": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/customerAccountRelationshipCreated/v2",
        "description": "Emitted after a customer account relationship has been created.",
        "operationId": "postEventCustomerAccountRelationshipCreatedV2",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomerV1DomainRelationshipEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/customerAccountRelationshipUpdated/v2": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/customerAccountRelationshipUpdated/v2",
        "description": "Emitted after a customer account relationship has been updated.",
        "operationId": "postEventCustomerAccountRelationshipUpdatedV2",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomerV1DomainRelationshipEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/customerAccountStateUpdated/v2": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/customerAccountStateUpdated/v2",
        "description": "Emitted after a customer account's state has been updated",
        "operationId": "postEventCustomerAccountStateUpdatedV2",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomerV2DomainCustomerAccountEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/customerAccountUpdated/v2": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/customerAccountUpdated/v2",
        "description": "Emitted after a customer account has been updated",
        "operationId": "postEventCustomerAccountUpdatedV2",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomerV2DomainCustomerAccountEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/customerAccountUserAssociatedCustomerAccountCreated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/customerAccountUserAssociatedCustomerAccountCreated",
        "description": "Emitted after an associated customer account has been created for an customer account user",
        "operationId": "postEventCustomerAccountUserAssociatedCustomerAccountCreated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserV1DomainAssociatedCustomerAccountEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/customerAccountUserAssociatedCustomerAccountDeleted": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/customerAccountUserAssociatedCustomerAccountDeleted",
        "description": "Emitted after an associated customer account has been deleted from an customer account user",
        "operationId": "postEventCustomerAccountUserAssociatedCustomerAccountDeleted",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserV1DomainAssociatedCustomerAccountEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/customerAccountUserCreated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/customerAccountUserCreated",
        "description": "Emitted after a customer account user has been created.",
        "operationId": "postEventCustomerAccountUserCreated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserV1DomainCustomerAccountUserEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/customerAccountUserOneTimePasswordSet": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/customerAccountUserOneTimePasswordSet",
        "description": "Emitted after a customer account user has been updated or created with a one time password. This event contains the new password in plain text.",
        "operationId": "postEventCustomerAccountUserOneTimePasswordSet",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserV1DomainCustomerAccountUserEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/customerAccountUserUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/customerAccountUserUpdated",
        "description": "Emitted after a customer account user has been updated.",
        "operationId": "postEventCustomerAccountUserUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserV1DomainCustomerAccountUserEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/customerBillCreated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/customerBillCreated",
        "description": "Emitted after a customer bill has been created.",
        "operationId": "postEventCustomerBillCreated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BillingV1InvoicingDomainCustomerBillEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/customerBillDocumentCreated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/customerBillDocumentCreated",
        "description": "Emitted after a customer bill document was created.",
        "operationId": "postEventCustomerBillDocumentCreated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BillingV1InvoicingDomainCustomerBillEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/customerBillSettlementUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/customerBillSettlementUpdated",
        "description": "Emitted after a customer bill's settlement has been updated.",
        "operationId": "postEventCustomerBillSettlementUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BillingV1InvoicingDomainCustomerBillEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/customerBillStateUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/customerBillStateUpdated",
        "description": "Emitted after a customer bill's state has been updated.",
        "operationId": "postEventCustomerBillStateUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BillingV1InvoicingDomainCustomerBillEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/customerBillSuppressed": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/customerBillSuppressed",
        "description": "Emitted after a customer bill has been suppressed.",
        "operationId": "postEventCustomerBillSuppressed",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BillingV1InvoicingDomainCustomerBillEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/customerBillUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/customerBillUpdated",
        "description": "Emitted after a customer bill has been updated.",
        "operationId": "postEventCustomerBillUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BillingV1InvoicingDomainCustomerBillEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/customerTypeRestrictionRuleCreated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/customerTypeRestrictionRuleCreated",
        "description": "Emitted after a customer type restriction rule has been created.",
        "operationId": "postEventCustomerTypeRestrictionRuleCreated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProductofferingV1DomainCustomerTypeRestrictionRuleEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/customerTypeRestrictionRuleUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/customerTypeRestrictionRuleUpdated",
        "description": "Emitted after a customer type restriction rule has been updated.",
        "operationId": "postEventCustomerTypeRestrictionRuleUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProductofferingV1DomainCustomerTypeRestrictionRuleEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/debtCollectionActionProcess": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/debtCollectionActionProcess",
        "description": "Emitted when a debt collection action has been triggered and has to be processed by an event consumer.",
        "operationId": "postEventDebtCollectionActionProcess",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DebtorDomainDebtCollectionActionEvent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Refer to the event documentation for details about the supported payload modifications.",
            "schema": {
              "$ref": "#/definitions/DebtorDomainDebtCollectionActionEvent"
            }
          },
          "201": {
            "description": "Created. Refer to the event documentation for details about the supported payload modifications.",
            "schema": {
              "$ref": "#/definitions/DebtorDomainDebtCollectionActionEvent"
            }
          },
          "202": {
            "description": "Accepted. Event will be processed asynchronously. Further event execution will be triggered manually after processing. Refer to the event documentation for further instructions.",
            "schema": {
              "$ref": "#/definitions/DebtorDomainDebtCollectionActionEvent"
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/debtCollectionActionProcessed": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/debtCollectionActionProcessed",
        "description": "Emitted when a debt collection action has been processed.",
        "operationId": "postEventDebtCollectionActionProcessed",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DebtorDomainDebtCollectionActionEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/debtCollectionBillingAccountAdded": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/debtCollectionBillingAccountAdded",
        "description": "Emitted when a billing account has been added to the debt collection process",
        "operationId": "postEventDebtCollectionBillingAccountAdded",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DebtorDomainDebtCollectionActionEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/debtCollectionBillingAccountRemoved": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/debtCollectionBillingAccountRemoved",
        "description": "Emitted when a billing account has been removed from the debt collection process",
        "operationId": "postEventDebtCollectionBillingAccountRemoved",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DebtorDomainDebtCollectionActionEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/debtCollectionBillingAccountStateUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/debtCollectionBillingAccountStateUpdated",
        "description": "Emitted when a billing account's debt collection state has changed.",
        "operationId": "postEventDebtCollectionBillingAccountStateUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DebtorDomainDebtCollectionActionEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/discountCreated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/discountCreated",
        "description": "Emitted after a discount has been created.",
        "operationId": "postEventDiscountCreated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChargespecificationsV1DomainChargeSpecificationDiscountEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/discountScopeFilterCreated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/discountScopeFilterCreated",
        "description": "Emitted after a discount scope filter has been created.",
        "operationId": "postEventDiscountScopeFilterCreated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChargespecificationsV1DomainAllowanceThresholdActionEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/discountScopeFilterUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/discountScopeFilterUpdated",
        "description": "Emitted after a discount scope filter has been updated.",
        "operationId": "postEventDiscountScopeFilterUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChargespecificationsV1DomainAllowanceThresholdActionEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/discountUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/discountUpdated",
        "description": "Emitted after a discount has been updated.",
        "operationId": "postEventDiscountUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChargespecificationsV1DomainChargeSpecificationDiscountEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/disputeCreated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/disputeCreated",
        "description": "Emitted when a new dispute has been created.",
        "operationId": "postEventDisputeCreated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BillingV1DisputesDomainDisputeEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/disputeStateUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/disputeStateUpdated",
        "description": "Emitted when a dispute's state has been updated.",
        "operationId": "postEventDisputeStateUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BillingV1DisputesDomainDisputeEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/fundCreated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/fundCreated",
        "description": "Emitted after a fund has been created.",
        "operationId": "postEventFundCreated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChargespecificationsV1DomainChargeSpecificationFundEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/fundUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/fundUpdated",
        "description": "Emitted after a fund has been updated.",
        "operationId": "postEventFundUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChargespecificationsV1DomainChargeSpecificationFundEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/instalmentChargeCreated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/instalmentChargeCreated",
        "description": "Emitted after a instalment charge has been created.",
        "operationId": "postEventInstalmentChargeCreated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChargespecificationsV1DomainChargeSpecificationInstalmentChargeEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/instalmentChargeUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/instalmentChargeUpdated",
        "description": "Emitted after a instalment charge has been updated.",
        "operationId": "postEventInstalmentChargeUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChargespecificationsV1DomainChargeSpecificationInstalmentChargeEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/invoiceTransferCreated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/invoiceTransferCreated",
        "description": "Emitted after a new invoice transfer has been created.",
        "operationId": "postEventInvoiceTransferCreated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BillingV1DomainInvoiceTransferEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/invoiceTransferUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/invoiceTransferUpdated",
        "description": "Emitted after an invoice transfer has been updated.",
        "operationId": "postEventInvoiceTransferUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BillingV1DomainInvoiceTransferEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/limitThresholdsTriggered": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/limitThresholdsTriggered",
        "description": "Emitted when limit thresholds have been triggered for a credit or spend limit.",
        "operationId": "postEventLimitThresholdsTriggered",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LimitsV1DomainLimitThresholdsTriggeredEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/lookupOptionCreated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/lookupOptionCreated",
        "description": "Emitted after a new lookup option has been created.",
        "operationId": "postEventLookupOptionCreated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LookupoptionsV1DomainLookupOptionEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/lookupOptionDeleted": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/lookupOptionDeleted",
        "description": "Emitted after an existing lookup option has been deleted.",
        "operationId": "postEventLookupOptionDeleted",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LookupoptionsV1DomainLookupOptionEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/lookupOptionUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/lookupOptionUpdated",
        "description": "Emitted after an existing lookup option has been updated.",
        "operationId": "postEventLookupOptionUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LookupoptionsV1DomainLookupOptionEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/mediationErrorReprocessingRequested": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/mediationErrorReprocessingRequested",
        "description": "Emitted after a chunk of mediation errors has been selected to be reprocessed.",
        "operationId": "postEventMediationErrorReprocessingRequested",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchMediationV1DomainMediationErrorReprocessingEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/mediationEventReferenceCreated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/mediationEventReferenceCreated",
        "description": "Emitted after a mediation event reference has been created.",
        "operationId": "postEventMediationEventReferenceCreated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChargespecificationsV1DomainMediationEventReferenceEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/mediationEventReferenceUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/mediationEventReferenceUpdated",
        "description": "Emitted after a mediation event reference has been updated.",
        "operationId": "postEventMediationEventReferenceUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChargespecificationsV1DomainMediationEventReferenceEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/mediationFeedCreated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/mediationFeedCreated",
        "description": "Emitted after a mediation feed has been created.",
        "operationId": "postEventMediationFeedCreated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServicespecificationV1DomainMediationFeedEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/mediationFeedUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/mediationFeedUpdated",
        "description": "Emitted after a mediation feed has been updated.",
        "operationId": "postEventMediationFeedUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServicespecificationV1DomainMediationFeedEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/notificationCreated/v2": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/notificationCreated/v2",
        "description": "Event emitted whenever a notification is created.",
        "operationId": "postEventNotificationCreatedV2",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NotificationV2DomainNotificationEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/notificationSend/v2": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/notificationSend/v2",
        "description": "Event emitted for processing a notification.Contains the notification as payload.",
        "operationId": "postEventNotificationSendV2",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NotificationV2DomainNotificationEvent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Refer to the event documentation for details about the supported payload modifications.",
            "schema": {
              "$ref": "#/definitions/NotificationV2DomainNotificationEvent"
            }
          },
          "201": {
            "description": "Created. Refer to the event documentation for details about the supported payload modifications.",
            "schema": {
              "$ref": "#/definitions/NotificationV2DomainNotificationEvent"
            }
          },
          "202": {
            "description": "Accepted. Event will be processed asynchronously. Further event execution will be triggered manually after processing. Refer to the event documentation for further instructions.",
            "schema": {
              "$ref": "#/definitions/NotificationV2DomainNotificationEvent"
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/notificationSent/v2": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/notificationSent/v2",
        "description": "Asynchronous event emitted when a notification was processed.Contains the notification as payload.",
        "operationId": "postEventNotificationSentV2",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NotificationV2DomainNotificationEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/notificationStateUpdated/v2": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/notificationStateUpdated/v2",
        "description": "Event emitted whenever a notification is updated.",
        "operationId": "postEventNotificationStateUpdatedV2",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NotificationV2DomainNotificationEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/notificationUpdated/v2": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/notificationUpdated/v2",
        "description": "Event emitted whenever a notification is updated.",
        "operationId": "postEventNotificationUpdatedV2",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NotificationV2DomainNotificationEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/numberOfSameProductOfferingsRuleCreated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/numberOfSameProductOfferingsRuleCreated",
        "description": "Emitted after a number of same product offerings rule has been created.",
        "operationId": "postEventNumberOfSameProductOfferingsRuleCreated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProductofferingV1DomainNumberOfSameProductOfferingsRuleEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/numberOfSameProductOfferingsRuleUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/numberOfSameProductOfferingsRuleUpdated",
        "description": "Emitted after a number of same product offerings rule has been updated.",
        "operationId": "postEventNumberOfSameProductOfferingsRuleUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProductofferingV1DomainNumberOfSameProductOfferingsRuleEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/onceOnlyChargeCreated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/onceOnlyChargeCreated",
        "description": "Emitted after a once-only charge has been created.",
        "operationId": "postEventOnceOnlyChargeCreated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChargespecificationsV1DomainChargeSpecificationOnceOnlyChargeEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/onceOnlyChargeUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/onceOnlyChargeUpdated",
        "description": "Emitted after a once-only charge  has been updated.",
        "operationId": "postEventOnceOnlyChargeUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChargespecificationsV1DomainChargeSpecificationOnceOnlyChargeEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/orderCreated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/orderCreated",
        "description": "Emitted after an order has been created.",
        "operationId": "postEventOrderCreated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrderingV1DomainOrderEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/orderProcessingComplete": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/orderProcessingComplete",
        "description": "Emitted before an order has completed processing. If a subscriber for this event is registered, the order state is set to Pending and the order will be suspended untilthe event has been processed",
        "operationId": "postEventOrderProcessingComplete",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrderingV1DomainOrderEvent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Refer to the event documentation for details about the supported payload modifications.",
            "schema": {
              "$ref": "#/definitions/OrderingV1DomainOrderEvent"
            }
          },
          "201": {
            "description": "Created. Refer to the event documentation for details about the supported payload modifications.",
            "schema": {
              "$ref": "#/definitions/OrderingV1DomainOrderEvent"
            }
          },
          "202": {
            "description": "Accepted. Event will be processed asynchronously. Further event execution will be triggered manually after processing. Refer to the event documentation for further instructions.",
            "schema": {
              "$ref": "#/definitions/OrderingV1DomainOrderEvent"
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/orderProcessingCompleted": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/orderProcessingCompleted",
        "description": "Emitted after an order has completed processing, before the final order status update.",
        "operationId": "postEventOrderProcessingCompleted",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrderingV1DomainOrderEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/orderProcessingStart": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/orderProcessingStart",
        "description": "Emitted before an order starts processing. If a subscriber for this event is registered, the order state is set to Pending and the order will be suspended until the event has been processed.",
        "operationId": "postEventOrderProcessingStart",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrderingV1DomainOrderEvent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Refer to the event documentation for details about the supported payload modifications.",
            "schema": {
              "$ref": "#/definitions/OrderingV1DomainOrderEvent"
            }
          },
          "201": {
            "description": "Created. Refer to the event documentation for details about the supported payload modifications.",
            "schema": {
              "$ref": "#/definitions/OrderingV1DomainOrderEvent"
            }
          },
          "202": {
            "description": "Accepted. Event will be processed asynchronously. Further event execution will be triggered manually after processing. Refer to the event documentation for further instructions.",
            "schema": {
              "$ref": "#/definitions/OrderingV1DomainOrderEvent"
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/orderProcessingStarted": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/orderProcessingStarted",
        "description": "Emitted after an order has started processing.",
        "operationId": "postEventOrderProcessingStarted",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrderingV1DomainOrderEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/orderStateUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/orderStateUpdated",
        "description": "Emitted whenever an order's state changed.",
        "operationId": "postEventOrderStateUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrderingV1DomainOrderEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/orderUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/orderUpdated",
        "description": "Emitted whenever an order changed.",
        "operationId": "postEventOrderUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrderingV1DomainOrderEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/partyCreated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/partyCreated",
        "description": "Emitted after a new party has been created.",
        "operationId": "postEventPartyCreated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PartyV1DomainPartyEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/partyDeleted": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/partyDeleted",
        "description": "Emitted after a party has been deleted",
        "operationId": "postEventPartyDeleted",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PartyV1DomainPartyEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/partyStateUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/partyStateUpdated",
        "description": "Emitted after a party's state has been updated",
        "operationId": "postEventPartyStateUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PartyV1DomainPartyEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/partyUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/partyUpdated",
        "description": "Emitted after a party has been updated",
        "operationId": "postEventPartyUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PartyV1DomainPartyEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/paymentMethodCreate": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/paymentMethodCreate",
        "description": "Emitted when a payment method is being created. Subscribe to this event to do additional validation/processing of the payment method.",
        "operationId": "postEventPaymentMethodCreate",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArPaymentDomainBillingAccountPaymentMethodEvent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Refer to the event documentation for details about the supported payload modifications.",
            "schema": {
              "$ref": "#/definitions/ArPaymentDomainBillingAccountPaymentMethodEvent"
            }
          },
          "201": {
            "description": "Created. Refer to the event documentation for details about the supported payload modifications.",
            "schema": {
              "$ref": "#/definitions/ArPaymentDomainBillingAccountPaymentMethodEvent"
            }
          },
          "202": {
            "description": "Accepted. Event will be processed asynchronously. Further event execution will be triggered manually after processing. Refer to the event documentation for further instructions.",
            "schema": {
              "$ref": "#/definitions/ArPaymentDomainBillingAccountPaymentMethodEvent"
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/paymentMethodCreated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/paymentMethodCreated",
        "description": "Emitted when a new payment method has been created.",
        "operationId": "postEventPaymentMethodCreated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArPaymentDomainBillingAccountPaymentMethodEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/paymentMethodStateUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/paymentMethodStateUpdated",
        "description": "Emitted when a payment method's state has been updated.",
        "operationId": "postEventPaymentMethodStateUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArPaymentDomainBillingAccountPaymentMethodEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/paymentTransferred": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/paymentTransferred",
        "description": "Emitted when a payment is transferred to/from a billing account",
        "operationId": "postEventPaymentTransferred",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArPaymentDomainPaymentsEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/paymentsCreated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/paymentsCreated",
        "description": "Emitted when payments have been created",
        "operationId": "postEventPaymentsCreated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArPaymentDomainPaymentsEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/paymentsUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/paymentsUpdated",
        "description": "Emitted when payments have been updated",
        "operationId": "postEventPaymentsUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArPaymentDomainPaymentsEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/postpaidUsageProcessed": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/postpaidUsageProcessed",
        "description": "Postpaid Usage has been processed.",
        "operationId": "postEventPostpaidUsageProcessed",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UsageV1DomainUsageProcessedEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/prepaidUsageProcessed": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/prepaidUsageProcessed",
        "description": "Prepaid Usage has been processed.",
        "operationId": "postEventPrepaidUsageProcessed",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UsageV1DomainUsageProcessedEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/productOfferingCharacteristicGroupCreated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/productOfferingCharacteristicGroupCreated",
        "description": "Emitted after a product offering characteristic group has been created.",
        "operationId": "postEventProductOfferingCharacteristicGroupCreated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProductofferingV1DomainProductOfferingCharacteristicGroupEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/productOfferingCharacteristicGroupUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/productOfferingCharacteristicGroupUpdated",
        "description": "Emitted after a product offering characteristic group has been updated.",
        "operationId": "postEventProductOfferingCharacteristicGroupUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProductofferingV1DomainProductOfferingCharacteristicGroupEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/productOfferingCreated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/productOfferingCreated",
        "description": "Emitted after a product offering has been created.",
        "operationId": "postEventProductOfferingCreated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProductofferingV1DomainProductOfferingEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/productOfferingGroupCreated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/productOfferingGroupCreated",
        "description": "Emitted after a product offering group has been created.",
        "operationId": "postEventProductOfferingGroupCreated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProductofferingV1DomainProductOfferingGroupEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/productOfferingGroupUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/productOfferingGroupUpdated",
        "description": "Emitted after a product offering group has been updated.",
        "operationId": "postEventProductOfferingGroupUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProductofferingV1DomainProductOfferingGroupEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/productOfferingTariffModelCreated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/productOfferingTariffModelCreated",
        "description": "Emitted after a product offering tariff model has been created.",
        "operationId": "postEventProductOfferingTariffModelCreated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProductofferingV1DomainProductOfferingTariffModelEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/productOfferingTariffModelUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/productOfferingTariffModelUpdated",
        "description": "Emitted after a product offering tariff model has been updated.",
        "operationId": "postEventProductOfferingTariffModelUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProductofferingV1DomainProductOfferingTariffModelEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/productOfferingUpdated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/productOfferingUpdated",
        "description": "Emitted after a product offering has been updated.",
        "operationId": "postEventProductOfferingUpdated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProductofferingV1DomainProductOfferingEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/productOrderCreated": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/productOrderCreated",
        "description": "Emitted after an order has been created. Contains the created order as payload.",
        "operationId": "postEventProductOrderCreated",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProductorderingV1DomainProductOrderEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/event/productOrderProcessingComplete": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "POST /event/productOrderProcessingComplete",
        "description": "Emitted before a product order has completed processing. If a subscriber for this event is registered, the order state is set to Pending and the order will be suspended untilthe event has been processed. This event will only be emitted for orders containing product operations.",
        "operationId": "postEventProductOrderProcessingComplete",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProductorderingV1DomainProductOrderEvent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Refer to the event documentation for details about the supported payload modifications.",
            "schema": {
              "$ref": "#/definitions/ProductorderingV1DomainProductOrderEvent"
            }
          },
          "201": {
            "description": "Created. Refer to the event documentation for details about the supported payload modifications.",
            "schema": {
              "$ref": "#/definitions/ProductorderingV1DomainProductOrderEvent"
            }
          },
          "202": {
[...]
